@charset "utf-8";
@import "compass";

$legacy-support-for-ie:false;
$experimental-support-for-mozilla:true;
$experimental-support-for-webkit:true;
$support-for-original-webkit-gradients:true;
$experimental-support-for-opera:true;
$experimental-support-for-microsoft:true;
$experimental-support-for-khtml:false;
$experimental-support-for-svg:false;

$base_url:"http://blog.livedoor.jp/kocorono_blue-othellograpf/";
