$headerBgColor:#222;
$menuBgColor:#009874;
$menuHoverBgColor:#008968;
$mainTextColor:#202020;
$subTextColor:#999;
$subTextColor_white:#fff;
$mainLinkColor:#009874;
$subLinkColor:#212121;
$linkHoverColor:#EC5A00;
$linkHoverBgColor:#222;
$shadowColor:#999;
$borderColor:#E9E9E9;

@mixin webfont_Istok{font-family: 'Istok Web', sans-serif;}
@mixin webfont_Arimo{font-family: 'Arimo', sans-serif;}
@mixin hidden_object{
	display:block;
	visibility:hidden;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
}
@mixin visible_object($offset_left,$offset_top,$widthSize,$heightSize,$z_index,$displayMode:block){
	visibility:visible;
	content:"";
	display:$displayMode;
	overflow:hidden;
	position:absolute;
	left:$offset_left;
	top:$offset_top;
	width:$widthSize;
	height:$heightSize;
	z-index:$z_index;
}
@mixin borderBottom_dash{
	border-bottom:1px dashed #d4d4d4;
}
@mixin borderTop_dash{
	border-top:1px dashed #d4d4d4;
}
@mixin text_overflow{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
@mixin img_box_shadow{
	@include box-shadow(rgba(0,0,0,0.3),0,0,4px);
}
@mixin clearfix{
	content:"";
	display:block;
	overflow:hidden;
	clear:both;
}


//extend parts
// placeholder parts
%contentsWidth{
	width:960px;
}
%textOverflow{
	@include text_overflow;
}
%spriteParts{
	background:url("#{$base_url}img/sprite_page_parts.png") 0 0 no-repeat;
}
%separator{
	@include visible_object(0,0,2px,62px,1);
	display:inline-block;
	@extend %spriteParts;
	background-position:-205px -303px;
}
%photoMaskRect_l{

}
%photoMaskRect_s{
	img{
		width:290px;
		height:190px;
		border:5px solid #fff;
		@include box-shadow(2px 2px 5px $shadowColor,-2px -2px 5px $shadowColor);
	}
}
%photoMaskArc_l{
	a{
		.photoMaskArc_l{
			position:relative;
			display:block;
			width:180px;
			height:180px;
			background:url("#{$base_url}img/thumbs_frame.png") 0 0 no-repeat;
			overflow:hidden;
		}
		img{
			position:relative;
			display:block;
			width:auto;
			height:180px;
			z-index:-1;
		}
		&:hover,
		&:active{
			.photoMaskArc_l{
				&:before{
					@include visible_object(80px,80px,23px,25px,1);
					@extend %spriteParts;
					background-position:-157px -342px;
				}
				&:after{
					@include visible_object(0,0,180px,180px,-1);
					background-color:$linkHoverBgColor;
				}
			}
		}
	}
}
%photoMaskArc_l_noLink{
	.photoMaskArc_l{
		position:relative;
		display:block;
		width:180px;
		height:180px;
		background:url("#{$base_url}img/thumbs_frame.png") 0 0 no-repeat;
		overflow:hidden;
	}
	img{
		position:relative;
		display:block;
		width:auto;
		height:180px;
		z-index:-1;
	}
}
%photoMaskArc_s{
	.photoMaskArc_s{
		position:relative;
		display:block;
		width:80px;
		height:80px;
		background:url("#{$base_url}img/thumbs_frame_s.png") 0 0 no-repeat;
		overflow:hidden;
	}
	img{
		position:relative;
		display:block;
		width:auto;
		height:80px;
		z-index:-1;
	}
}
%articleImg{
	display:block;
	margin:20px 0;
	border:6px solid #fff;
	@include img_box_shadow;
}
// class parts
.clearfix{
	@include clearfix;
}
.hide{
	@include hidden_object;
}
