@charset "utf-8";
@import "base";
@import "reset";
@import "ruleset";

// base parts
body{
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
a:link,
a:visited{
	text-decoration:none;
}

// common parts
header{
	background-color:$headerBgColor;
	
	.headerInner{
		position:relative;
		@extend %contentsWidth;
		height:100px;
		margin:0 auto;
	}
	h1{
		position:absolute;
		left:0;
		top:21px;
		width:319px;
		height:60px;
		@extend %spriteParts;
		background-position:-1px -451px;
		
		a{
			display:block;
			width:100%;
			height:100%;
		}
	}
	.ad{
		position:absolute;
		right:0;
		top:21px;
		width:468px;
		height:60px;
	}
	.mainMenu{
		background-color:$menuBgColor;
		
		&:after{
			@extend .clearfix;
		}
		ul{
			position:relative;
			@extend %contentsWidth;
			margin:0 auto;
			&:before{
				@extend %separator;
			}
			&:after{
				@extend %separator;
				left:auto;
				right:0;
			}
		}
		li{
			float:left;
			a{
				position:relative;
				display:block;
				height:65px;
				&:hover,
				&:active{
					background-color:$menuHoverBgColor;
				}
			}
			&.home a{
				width:50px;
				&:before{
					@include visible_object(16px,23px,17px,17px,auto);
					@extend %spriteParts;
					background-position:-1px -1px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.news a{
				width:146px;
				&:before{
					@include visible_object(13px,16px,112px,33px,auto);
					@extend %spriteParts;
					background-position:-2px -25px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.special a{
				width:145px;
				&:before{
					@include visible_object(13px,16px,111px,33px,auto);
					@extend %spriteParts;
					background-position:-2px -74px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.human a{
				width:180px;
				&:before{
					@include visible_object(13px,16px,148px,32px,auto);
					@extend %spriteParts;
					background-position:-2px -123px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.spot a{
				width:130px;
				&:before{
					@include visible_object(13px,16px,95px,33px,auto);
					@extend %spriteParts;
					background-position:-2px -172px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.competition a{
				width:173px;
				&:before{
					@include visible_object(13px,16px,138px,33px,auto);
					@extend %spriteParts;
					background-position:-2px -221px;
				}
				&:after{
					@extend %separator;
					left:auto;
					right:0;
				}
			}
			&.other a{
				width:135px;
				&:before{
					@include visible_object(13px,16px,100px,32px,auto);
					@extend %spriteParts;
					background-position:-2px -270px;
				}
			}
		}
	}
}
footer{
	height:150px;
	margin-top:30px;
	border-top:1px solid $borderColor;
	background:url("#{$base_url}img/special_bg.gif") 0 0 repeat;
	.footerInner{
		position:relative;
		@extend %contentsWidth;
		margin:0 auto;
		ul{
			margin-top:20px;
			font-size:14px;
			li{
				display:inline-block;
				color:$subTextColor;
				&:after{
					margin:0 3px 0 5px;
					content:"|";
				}
				a{
					color:$subLinkColor;
					&:hover,
					&:active{
						color:$mainLinkColor;
						text-decoration:underline;
					}
				}
			}
		}
		.copyright{
			position:absolute;
			right:0;
			top:0;
			display:block;
			font-size:12px;
			color:#666;
		}
	}
}
#container{
	
}
#contents{
	
}
#mainContents{
	&:after{
		@include clearfix;
	}
}
// sidebar
#sideColumn{
	float:right;
	width:300px;
	margin:0 0 0 60px;
	padding-top:30px;
	overflow:hidden;
	.sideBar{
		> h1{
			margin:0 0 20px 0;
			font-size:13px;
			color:#999;
			span{
				@include webfont_Arimo;
				font-size:22px;
				color:#000;
			}
		}
		> div{
			margin-bottom:20px;
		}
		// new entry list rewrite
		.plugin-recent_articles_image{
			.sidetitle{
				display:none;
			}
			.recent-article-image{
				li{
					padding:15px 0;
					@include borderBottom_dash;
					line-height:1.5;
					&:first-of-type{
						padding-top:0;
					}
					a:link,
					a:visited{
						color:$mainTextColor;
					}
					a:hover,
					a:active{
						color:$linkHoverColor;
						text-decoration:underline;
					}
					&:after{
						@include clearfix;
					}
					.headLine{
						//display:inline-block;
						font-size:13px;
						word-break:break-all;
						overflow:hidden;
						vertical-align:top;
						&.headLine_s{
							float:left;
							width:200px;
						}
					}
					.imgBox{
						//display:inline-block;
						float:right;
						width:80px;
						//margin-left:10px;
					}
					.thumbs{
						//display:inline-block;
						width:80px;
						height:80px;
						@extend %photoMaskArc_s;
						vertical-align:top;
						img{
							float:none;
							margin:0;
						}
					}
				}
				
			}
		}
		/* new entry list old
		.recentList{
			min-height:inherit;
			dl{
				padding:15px 0;
				@include borderBottom_dash;
				&:first-of-type{
					padding-top:0;
				}
			}
			dt{
				display:inline-block;
				width:200px;
				font-size:14px;
				word-break:break-all;
				overflow:hidden;
				color:$subTextColor;
				vertical-align:top;
				> h1{
					height:55px;
					margin-top:5px;
					font-size:13px;
					font-weight:normal;
					line-height:1.5;
					a:link,
					a:visited{
						color:$mainTextColor;
					}
					a:hover,
					a:active{
						color:$linkHoverColor;
						text-decoration:underline;
					}
				}
			}
			dd{
				display:inline-block;
				width:80px;
				height:80px;
				@extend %photoMaskArc_s;
				vertical-align:top;
			}
		}
		*/
		.interviewList{
			margin-bottom:0;
			a{
				width:300px;
				height:90px;
				display:block;
				margin:0 0 10px 0;
				&:last-of-type{
					margin-bottom:0;
				}
			}
		}
	}
}
.pager{
	margin-top:15px;
	ol li,
	.paging-prev,
	.paging-next,
	.paging-first,
	.paging-last{
		display:inline-block;
		width:30px;
		height:30px;
		margin:0 5px;
		@extend %spriteParts;
		background-position:-157px -117px;
		font:12px/30px sans-serif;
		color:#fff;
		text-align:center;
		&:hover,
		&:active{
			background-position:-157px -155px;
			font-weight:bold;
		}
		&.current{
			width:30px;
			height:30px;
			background-position:-157px -155px;
			font-weight:bold;
			text-align:center;
		}
	}
	.paging-first,
	.paging-last{
		display:none;
	}
	.paging-number{
		display:inline-block;
	}
	a{
		position:relative;
		display:block;
		color:#fff;
		&[rel="prev"],
		&[rel="next"]{
			visibility:hidden;
			&:after{
				@include visible_object(9px,11px,8px,7px,auto,inline-block);
				@extend %spriteParts;
				background-position:-156px -388px;
			}
		}
		&[rel="prev"]:after{
			background-position:-156px -409px;
		}
	}
}



/*
.pager{
	margin-top:15px;
	li{
		display:inline-block;
		font-size:12px;
	}
	a{
		position:relative;
		display:block;
		width:30px;
		height:30px;
		@extend %spriteParts;
		background-position:-157px -117px;
		font-weight:normal;
		color:#fff;
		line-height:30px;
		text-align:center;
		&:hover,
		&:active{
			background-position:-157px -155px;
			font-weight:bold;
		}
		.paging-prev,
		.paging-next{
			visibility:hidden;
			&:after{
				@include visible_object(11px,11px,8px,7px,auto);
				@extend %spriteParts;
				background-position:-156px -388px;
			}
		}
		.paging-prev:after{
			background-position:-156px -409px;
		}
	}
}
*/
.pageTop{
	position:absolute;
	right:-65px;
	top:-105px;
	display:block;
	width:45px;
	height:45px;
	@extend %spriteParts;
	background-position:-157px -275px;
}