@charset "utf-8";
@import "base";
@import "ruleset";

// page parts
#topPage,
#categoriesPage,
#articlePage{
	// special
	.special{
		background:url("#{$base_url}img/special_bg.gif") 0 0 repeat;
		border-bottom:1px solid $borderColor;
		@extend .clearfix;
		article{
			@extend %contentsWidth;
			margin:0 auto;
		}
		.articleInner{
			float:left;
			width:573px;
			margin-top:30px;
			
			h1{
				margin:0 70px 15px 0;
				font-size:30px;
				line-height:1.5;
				//font-weight:normal;
			}
			p{
				margin-right:70px;
			}
		}
		time{
			float:left;
			display:block;
			width:56px;
			height:108px;
			margin-left:-3px;
			margin-right:30px;
			@extend %spriteParts;
			background-position:-153px 0;
			@include webfont_Istok;
			color:#fff;
			text-align:center;
			line-height:1.2;
			
			.dateBox{
				display:block;
				margin:0 9px;
				padding-top:15px;
				
				span{
					display:block;
					margin-bottom:2px;
					font-size:1.5em;
					font-size:700;
				}
			}
		}
		.specialImg{
			float:left;
			margin-top:30px;
			@extend %photoMaskRect_s;
		}
		a.more{
			position:relative;
			display:block;
			width:106px;
			height:33px;
			margin:0 0 20px 80px;
			padding-left:12px;
			background-color:#000;
			border:1px solid #DDDDDD;
			color:$subTextColor_white;
			line-height:33px;
			clear:both;
			
			&:after{
				@include visible_object(0,0,8px,7px,auto);
				@extend %spriteParts;
				left:auto;
				right:12px;
				top:13px;
				background-position:-156px -388px;
			}
			&:hover,
			&:active{
				background-color:$menuBgColor;
			}
		}
	}
	#mainContents{
		position:relative;
		@extend %contentsWidth;
		margin:0 auto;
		.mainContentsInner{
			width:600px;
			float:left;
		}
		// recommend
		.recommend,
		.news,
		.categories{
			> h1{
				margin:30px 0 20px 0;
				font-size:13px;
				color:#999;
				.title{
					@include webfont_Arimo;
					font-size:22px;
					color:#000;
				}
			}
		}
		.recommendList{
			min-height:608px;
			@include borderBottom_dash;
			dl{
				position:relative;
				float:left;
				width:180px;
				height:276px;
				margin:0 30px 16px 0;
				&:nth-of-type(3n){
					margin-right:0;
				}
				&:nth-of-type(4n){
					clear:both;
				}
			}
			dt{
				position:absolute;
				top:196px;
				width:180px;
				height:80px;
				font-size:14px;
				word-break:break-all;
				overflow:hidden;
				color:$subTextColor;
				&.meiryo{
					height:100px;
				}
				a{
					color:$mainLinkColor;
				}
				> h1{
					margin-top:10px;
					font-size:13px;
					font-weight:normal;
					line-height:1.5;
					a:link,
					a:visited{
						color:$mainTextColor;
					}
					a:hover,
					a:active{
						color:$linkHoverColor;
						text-decoration:underline;
					}
				}
			}
			dd{
				position:absolute;
				width:180px;
				height:180px;
				@extend %photoMaskArc_l;
			}
		}
		.categoriesList{
			.thumbs,
			.noThumbs{
				position:relative;
				height:220px;
				@include borderBottom_dash;
				dt{
					position:absolute;
					left:200px;
					top:20px;
					width:400px;
					font-size:13px;
					color:$subTextColor;
					a{
						color:$mainLinkColor;
					}
					h1{
						margin:10px 0 5px 0;
						font-size:18px;
						font-weight:bold;
						line-height:1.5;
						a:link,
						a:visited{
							color:$mainTextColor;
						}
						a:hover,
						a:active{
							color:$linkHoverColor;
							text-decoration:underline;
						}
					}
					p{
						height:80px;
						color:$mainTextColor;
						line-height:1.6;
						overflow:hidden;
						word-break:break-all;
					}
				}
				dd{
					position:absolute;
					left:0;
					top:20px;
					width:180px;
					height:180px;
					@extend %photoMaskArc_l_noLink;
				}
			}
			.noThumbs{
				dt{
					left:0;
					width:600px;
				}
				dd{
					display:none;
				}
			}
		}
		.news{
			h1{
				margin-bottom:0;
			}
			.newsList{
				li{
					@include borderBottom_dash;
					padding:16px 0;
				}
				time{
					display:inline-block;
					margin-right:28px;
					font-size:14px;
					color:$subTextColor;
				}
				a{
					display:inline-block;
					width:500px;
					font-size:13px;
					color:$subLinkColor;
					vertical-align:text-top;
					overflow:hidden;
					word-break:break-all;
					&:visited,
					&:hover{
						color:$linkHoverColor;
						text-decoration:underline;
					}
				}
			}
		}
	}
}
#articlePage{
	.title{
		position:relative;
		left:0;
		top:10px;
		width:960px;
		min-height:70px;
		font-size:30px;
		vertical-align:middle;
		&.icon{
			&:before{
				@include visible_object(0,5px,66px,66px,auto);
				@extend %spriteParts;
			}
			&.NEWS:before{
				background-position:-445px -1px;
			}
			&.SPECIAL:before{
				background-position:-445px -73px;
			}
			&.HUMAN:before{
				background-position:-445px -145px;
			}
			&.SPOT:before{
				background-position:-445px -217px;
			}
			&.COMPETITION:before{
				background-position:-445px -289px;
			}
			&.OTHER:before{
				background-position:-445px -361px;
			}
		}
		span{
			display:inline-block;
			margin-left:80px;
		}
	}
	.articleBody{
		margin-top:30px;
		font-size:15px;
		h1{
			margin:20px 0;
			padding:8px 12px;
			background-color:#F5F5F5;
			border-top:1px solid #DDDDDD;
			border-bottom:1px solid #DDDDDD;
			font-size:22px;
		}
		blockquote{
			margin:20px 0;
			padding:15px 30px;
			background-color:#F5F5F5;
			border:4px solid #DDDDDD;
		}
		img{
			@extend %articleImg;
		}
	}
	.articleFooter{
		@include clearfix;
		margin-top:30px;
		padding:10px 0;
		@include borderBottom_dash;
		@include borderTop_dash;
		color:$subTextColor;
		a{
			color:$mainLinkColor;
			&:hover,
			&:active{
				color:$linkHoverColor;
			}
		}
		.data{
			display:block;
			float:left;
			padding-top:4px;
			font-size:14px;
		}
		.socialButton{
			float:right;
		}
	}
}

// js
#jsArticleMainImg{
	position:relative;
	width:948px;
	//height:380px;
	height:auto;
	@extend %articleImg;
	margin-top:20px;
	margin-bottom:0;
}